app/template/_npsContainer.html

<div class="nps--container">
  <div class="nps--header">
    <div class="smalltext">0 - zeker niet</div>
    <div class="bigtext">10 - zeker wel</div>
  </div>
  <ul class="nps--list">
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_0" value="0" class="nps--radio"/>
      <label for="nps_0" class="nps--label">0</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_1" value="1" class="nps--radio"/>
      <label for="nps_1" class="nps--label">1</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_2" value="2" class="nps--radio"/>
      <label for="nps_2" class="nps--label">2</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_3" value="3" class="nps--radio"/>
      <label for="nps_3" class="nps--label">3</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_4" value="4" class="nps--radio"/>
      <label for="nps_4" class="nps--label">4</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_5" value="5" class="nps--radio"/>
      <label for="nps_5" class="nps--label">5</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_6" value="6" class="nps--radio"/>
      <label for="nps_6" class="nps--label">6</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_7" value="7" class="nps--radio"/>
      <label for="nps_7" class="nps--label">7</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_8" value="8" class="nps--radio"/>
      <label for="nps_8" class="nps--label">8</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_9" value="9" class="nps--radio"/>
      <label for="nps_9" class="nps--label">9</label>
    </li>
    <li class="nps--item">
      <input type="radio" name="nps" id="nps_10" value="10" class="nps--radio"/>
      <label for="nps_10" class="nps--label">10</label>
    </li>
  </ul>
</div>

dev/template/_npsContainer.jade
.nps--container
  .nps--header
    .smalltext 0 - zeker niet
    .bigtext 10 - zeker wel
  - var n = 0
  ul.nps--list
    while n < 11
      li.nps--item
        input.nps--radio(type='radio', name='nps', id="nps_"+n, value=n)
        label.nps--label(for="nps_"+n)=n++
