app/_productReview.html

<div class="section">
  <div class="section--item border">
    <div class="product--container"><img src="img/product.png" alt="product"/></div>
  </div>
  <div class="section--item distance--bottom force-width">
    <div class="section--item--header right-side">HP HD 2300 webcam HP HD 20...</div>
    <div class="star--container">
      <div class="star--container--image">
        <input id="bewertung_1" type="radio" name="bewertungStar" value="1" class="star--radio"/>
        <label for="bewertung_1" class="star--image"></label>
        <input id="bewertung_2" type="radio" name="bewertungStar" value="2" class="star--radio"/>
        <label for="bewertung_2" class="star--image"></label>
        <input id="bewertung_3" type="radio" name="bewertungStar" value="3" class="star--radio"/>
        <label for="bewertung_3" class="star--image"></label>
        <input id="bewertung_4" type="radio" name="bewertungStar" value="4" class="star--radio"/>
        <label for="bewertung_4" class="star--image"></label>
        <input id="bewertung_5" type="radio" name="bewertungStar" value="5" class="star--radio"/>
        <label for="bewertung_5" class="star--image"></label>
        <input id="bewertung" type="hidden" value="0" class="bewertung"/>
      </div>
      <div class="star--container--text"><span class="changeable-text">0</span><span>/5</span></div>
    </div>
    <div class="textarea--container">
      <textarea name="meinung" id="meinung" placeholder="Geef hier uw feedback" class="textarea"></textarea>
    </div>
  </div>
  <div class="clear"></div>
  <div class="section--item full border distance--top">
    <div class="section--item--header">Radio Question</div>
    <div class="radio--container">
      <div class="radio--item">
        <input type="radio" value="1" name="radio" id="radio_1" class="radio--input"/>
        <label for="radio_1" class="radio--label"><span class="radio--mock"></span><span class="radio--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
      </div>
      <div class="radio--item">
        <input type="radio" value="2" name="radio" id="radio_2" class="radio--input"/>
        <label for="radio_2" class="radio--label"><span class="radio--mock"></span><span class="radio--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
      </div>
      <div class="radio--item">
        <input type="radio" value="3" name="radio" id="radio_3" class="radio--input"/>
        <label for="radio_3" class="radio--label"><span class="radio--mock"></span><span class="radio--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
      </div>
    </div>
  </div>
  <div class="section--item full border distance--top">
    <div class="section--item--header">Checkbox Question</div>
    <div class="checkbox--container">
      <div class="checkbox--item">
        <input type="checkbox" value="1" name="checkbox" id="checkbox_1" class="checkbox--input"/>
        <label for="checkbox_1" class="checkbox--label"><span class="checkbox--mock"></span><span class="checkbox--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
      </div>
      <div class="checkbox--item">
        <input type="checkbox" value="2" name="checkbox" id="checkbox_2" class="checkbox--input"/>
        <label for="checkbox_2" class="checkbox--label"><span class="checkbox--mock"></span><span class="checkbox--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
      </div>
      <div class="checkbox--item">
        <input type="checkbox" value="3" name="checkbox" id="checkbox_3" class="checkbox--input"/>
        <label for="checkbox_3" class="checkbox--label"><span class="checkbox--mock"></span><span class="checkbox--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
      </div>
    </div>
  </div>
  <div class="section--item full border distance--top">
    <div class="section--item--header">Star Question</div>
    <div class="star--container no-border left">
      <div class="star--container--image">
        <input id="bewertung_researh_1" type="radio" name="bewertungStar_researh" value="1" class="star--radio"/>
        <label for="bewertung_researh_1" class="star--image"></label>
        <input id="bewertung_researh_2" type="radio" name="bewertungStar_researh" value="2" class="star--radio"/>
        <label for="bewertung_researh_2" class="star--image"></label>
        <input id="bewertung_researh_3" type="radio" name="bewertungStar_researh" value="3" class="star--radio"/>
        <label for="bewertung_researh_3" class="star--image"></label>
        <input id="bewertung_researh_4" type="radio" name="bewertungStar_researh" value="4" class="star--radio"/>
        <label for="bewertung_researh_4" class="star--image"></label>
        <input id="bewertung_researh_5" type="radio" name="bewertungStar_researh" value="5" class="star--radio"/>
        <label for="bewertung_researh_5" class="star--image"></label>
        <input id="bewertung_researh" type="hidden" value="0" class="bewertung"/>
      </div>
      <div class="star--container--text"><span class="changeable-text">0</span><span>/5</span></div>
    </div>
  </div>
</div>
<div class="submit--container">
  <button id="submit" name="submit" class="submit--button">BEOORDELING STUREN</button>
</div>

dev/_productReview.jade
.section
  .section--item.border
    .product--container
      img(src="img/product.png", alt="product")
  .section--item.distance--bottom.force-width
    .section--item--header.right-side HP HD 2300 webcam HP HD 20...
    include template/_starContainer.jade
    include template/_textareaContainer.jade
  .clear
  .section--item.full.border.distance--top
    .section--item--header Radio Question
    include template/_radioContainer.jade
  .section--item.full.border.distance--top
    .section--item--header Checkbox Question
    include template/_checkboxContainer.jade
  .section--item.full.border.distance--top
    .section--item--header Star Question
    include template/_starContainer-research.jade
include template/_submitContainer.jade
