dev/_shopReview.jade
.section
  .section--item
    .section--item--header Hoe tevreden bent u met HP Online Store ?
    .section--item-help-text.small.right (5 sterren = zeer goed)
  .section--item
    include template/_starContainer.jade
  .clear
  .section--item.full
    include template/_emailContainer.jade
.section
  .section--item
    .section--item--header Uw persoonlijke feedback
    .section--item-help-text Hulpvragen: Geef een beschrijving van uw ervaring met HP Online Store Nederland. Waar bent u het meest tevreden over? Indien nodig, wat kan beter?
  .section--item
    include template/_textareaContainer.jade
.section
  .section--item.full
    .section--item--header NPS Question
  .section--item.full
    include template/_npsContainer.jade
include template/_submitContainer.jade

app/_shopReview.html

<div class="section">
  <div class="section--item">
    <div class="section--item--header">Hoe tevreden bent u met HP Online Store ?</div>
    <div class="section--item-help-text small right">(5 sterren = zeer goed)</div>
  </div>
  <div class="section--item">
    <div class="star--container">
      <div class="star--container--image">
        <input id="bewertung_1" type="radio" name="bewertungStar" value="1" class="star--radio"/>
        <label for="bewertung_1" class="star--image"></label>
        <input id="bewertung_2" type="radio" name="bewertungStar" value="2" class="star--radio"/>
        <label for="bewertung_2" class="star--image"></label>
        <input id="bewertung_3" type="radio" name="bewertungStar" value="3" class="star--radio"/>
        <label for="bewertung_3" class="star--image"></label>
        <input id="bewertung_4" type="radio" name="bewertungStar" value="4" class="star--radio"/>
        <label for="bewertung_4" class="star--image"></label>
        <input id="bewertung_5" type="radio" name="bewertungStar" value="5" class="star--radio"/>
        <label for="bewertung_5" class="star--image"></label>
        <input id="bewertung" type="hidden" value="0" class="bewertung"/>
      </div>
      <div class="star--container--text"><span class="changeable-text">0</span><span>/5</span></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="section--item full">
    <div class="email--container">
      <div class="email--container--header">Het verstrekken van uw e-mailadres is optioneel en is alleen noodzakelijk indien u gecontacteerd wenst te worden</div>
      <div class="email--container-content">
        <div class="email--input-part">
          <label for="email" class="email--input-label">Uw e-mail*</label>
          <input type="email" id="email" name="email" placeholder="Uw e-mail*" class="email--input"/>
        </div>
        <div class="email--input-part">
          <label for="email_check" class="email--input-label">E-mail bevestigen</label>
          <input type="email" id="email_check" name="email_check" placeholder="E-mail bevestigen" class="email--input"/>
        </div>
        <div class="email--footer">* Geef uw e-mailadres op. Dit adres wordt alléén gebruikt voor communicatie tussen eKomi en uzelf. Nadat de communicatie is afgesloten wordt uw adres automatisch verwijderd. Dank u wel!</div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="section--item">
    <div class="section--item--header">Uw persoonlijke feedback</div>
    <div class="section--item-help-text">Hulpvragen: Geef een beschrijving van uw ervaring met HP Online Store Nederland. Waar bent u het meest tevreden over? Indien nodig, wat kan beter?</div>
  </div>
  <div class="section--item">
    <div class="textarea--container">
      <textarea name="meinung" id="meinung" placeholder="Geef hier uw feedback" class="textarea"></textarea>
    </div>
  </div>
</div>
<div class="section">
  <div class="section--item full">
    <div class="section--item--header">NPS Question</div>
  </div>
  <div class="section--item full">
    <div class="nps--container">
      <div class="nps--header">
        <div class="smalltext">0 - zeker niet</div>
        <div class="bigtext">10 - zeker wel</div>
      </div>
      <ul class="nps--list">
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_0" value="0" class="nps--radio"/>
          <label for="nps_0" class="nps--label">0</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_1" value="1" class="nps--radio"/>
          <label for="nps_1" class="nps--label">1</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_2" value="2" class="nps--radio"/>
          <label for="nps_2" class="nps--label">2</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_3" value="3" class="nps--radio"/>
          <label for="nps_3" class="nps--label">3</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_4" value="4" class="nps--radio"/>
          <label for="nps_4" class="nps--label">4</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_5" value="5" class="nps--radio"/>
          <label for="nps_5" class="nps--label">5</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_6" value="6" class="nps--radio"/>
          <label for="nps_6" class="nps--label">6</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_7" value="7" class="nps--radio"/>
          <label for="nps_7" class="nps--label">7</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_8" value="8" class="nps--radio"/>
          <label for="nps_8" class="nps--label">8</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_9" value="9" class="nps--radio"/>
          <label for="nps_9" class="nps--label">9</label>
        </li>
        <li class="nps--item">
          <input type="radio" name="nps" id="nps_10" value="10" class="nps--radio"/>
          <label for="nps_10" class="nps--label">10</label>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="submit--container">
  <button id="submit" name="submit" class="submit--button">BEOORDELING STUREN</button>
</div>
